[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.9.1"
pyjwt = "==2.10.1"
sqlparse = "==0.5.3"
tzdata = "==2025.2"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-environ = "*"
django-cors-headers = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
